<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Proyecto Final DDI</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="style.scss" />
    <link
      rel="shortcut icon"
      href="https://cdn.glitch.com/847d443f-4395-4a34-b87b-0efccc24447b%2Flaptop_analytics_charts_analysis_graph_icon_143366.ico?v=1589839090861"
    />

    <!-- import the webpage's javascript file -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="https://use.fontawesome.com/3b98e9f266.js"></script>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/styles/monokai.min.css"
    />
    <link
      href="//fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="//fonts.googleapis.com/css?family=Roboto:100,300,400,700,900"
      rel="stylesheet"
      type="text/css"
    />

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"
      type="text/javascript"
    ></script>
    <script src="https://use.fontawesome.com/3b98e9f266.js"></script>
    <link
      rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/styles/monokai.min.css"
    />
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/highlight.min.js"></script>
  </head>
  <body>
    <h1>Proyecto Final DDI</h1>
    <h2>Curso 2020-1</h2>

    <div class="container">
      <div class="tab-wrap">
        <input type="radio" id="tab1" name="tabGroup1" class="tab" checked />
        <label for="tab1">Introducción</label>
        <input type="radio" id="tab2" name="tabGroup1" class="tab" />
        <label for="tab2">Uso de la API</label>
        <input type="radio" id="tab3" name="tabGroup1" class="tab" />
        <label for="tab3">Tablero</label>

        <div class="tab__content">
          <h1>Introducción</h1>
          <p>
            La presente <i>live app</i> es donde se presentará el proyecto final
            para la evaluación a titulo de suficiencia del curso 'Diseño de
            interfaces' en CETYS Universiad.
          </p>
          <p>
            <strong>Resumen</strong><br />
            Se creará un sistema de monitoreo de niveles de luz en habitaciones
            de una casa utilizando un foto resistor, placas de desarrollo,
            módulos WIFI y un desarrollo web con Node.js and Express.js.
            Aplicando el protocolo de comunicación WIFI y la implementación de
            una REST API para cumplir con el diseño de una interfaz.
          </p>
          <p>
            <strong>Objetivos</strong><br />
            <i>Objetivo general</i><br />
            Establecer un sistema de monitoreo de los niveles de luz de una
            casa.<br />
            <i>Objetivos específicos</i><br />
            Recopilar señales digitales empleando sensores y placas de
            desarrollo. Utilizar un protocolo de comunicación serial. Registrar
            los datos a partir de esta comunicación. Generar un tablero de
            información.
          </p>
          <p>
            <strong>Planteamiento del problema</strong><br />
            Existiendo una casa con tres habitaciones principales compartidas:
            sala, cocina y baño se busca registrar la cantidad de tiempo en que
            los focos estuvieron encendidos.<br />
            <i>Procedimiento:</i><br />
          </p>

          <ul>
            <li>Obtener señal de foto resistor a placa de desarrollo.</li>
            <li>
              Enviar (POST) por módulo WIFI la información a un servidor web.
            </li>
            <li>
              Convertir datos a un formato JSON (id, cuando se envió, nivel de
              la señal obtenida, una codificación para definir si esta encendido
              o apagado) y generar REST API.
            </li>
            <li>
              Generar una aplicación en una plataforma de construcción y
              escalamiento de aplicaciones donde se pueda ver un dashboard de
              esta información.
            </li>
          </ul>
          <p><i>Entregables:</i><br /></p>
          <ul>
            <li>Presentación en PowerPoint de la información general.</li>
            <li>Reporte en .pdf de la información detallada.</li>
            <li>
              Documentación del código utilizado y repositorio de la aplicación.
            </li>
          </ul>
        </div>
        <div class="tab__content">
          <h1>Uso de la API</h1>
          <h2 style="text-align: left; margin-left: 75px">
            Test respuestas de la API:
          </h2>
          <div id="sampleposting">
            <div>
              <form action="/api/rooms" method="post" class="border">
                <h4>Test post hacia /api/rooms</h4>
                Room Title:<br />
                <input type="text" name="title" value="" /><br />
                <input type="submit" value="Submit" />
              </form>
            </div>
            <div>
              <form action="" method="post" id="dpTest" class="border">
                <h4>Test post to /api/rooms/{roomid}</h4>
                RoomId to add datapoint:<br />
                <input type="text" name="id" value="" id="idinputtest" /><br />
                Datapoint:<br />
                <input type="text" name="datapoint" value="" /><br />
                <input type="submit" value="Submit" />
              </form>
            </div>
          </div>
        </div>
        <div class="tab__content">
          <h1>Tablero</h1>
          <div id="sensorLabels">
            <div class="sensor-label">
              <label>Bedroom</label>
              <label id="bedroom-value">10</label>
              <label id="bedroom-category">OFF</label>
              <label id="bedroom-date"></label>
            </div>
            <div class="sensor-label">
              <label>Bathroom</label>
              <label id="bathroom-value">10</label>
              <label id="bathroom-category">OFF</label>
              <label id="bathroom-date"></label>
            </div>
            <div class="sensor-label">
              <label>Livingroom</label>
              <label id="livinghroom-value">10</label>
              <label id="livingroom-category">OFF</label>
              <label id="livingroom-date"></label>
            </div>
            <div class="sensor-label">
              <label>Kitchen</label>
              <label id="kitchen-value">10</label>
              <label id="kitchen-category">OFF</label>
              <label id="kitchen-date"></label>
            </div>
          </div>
          <div
            id="chartContainer"
            style="height: 300px; width: 80%; margin: 20px auto"
          ></div>
          <div
            id="pieContainer"
            style="height: 300px; width: 80%; margin: 20px auto"
          ></div>
        </div>
      </div>
    </div>
    <footer>
      <section>
        <a id="footer" href="https://github.com/HuascarLopez">
          Made with <i class="fa fa-heart" style="color:red"></i> by Huascar
          Arturo
        </a>
      </section>
    </footer>
    <script
      src="https://code.jquery.com/jquery-2.2.1.min.js"
      integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
      crossorigin="anonymous"
    ></script>
    <script src="/public/client.js"></script>
    <script>
      /*
       *  For #sampleposting to update form action url to test inputs into a room id
       */
      $(function() {
        $("#dpTest").submit(function() {
          var id = $("#idinputtest").val();
          $(this).attr("action", "/api/rooms/" + id);
        });
      });
    </script>
  </body>
</html>
