/* For ERROR 404 */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500);

body { 
  background-color: #bababa; 
  color: #fff;
  font-family: "Roboto", sans-serif;
}

p {
  font-size: 2em;
  text-align: center;
  font-weight: 100;
  margin: 10px auto;
}

h1 {
  text-align: center;
  font-size: 10em;
  font-weight: 100;
}

div{
  max-height: 300px;
}
